.text-field {
	-fx-background-radius: 25px;
	-fx-pref-height: 30px;
}

#login__header {
	-fx-translate-y: -10px;
}

#login__username-text-field {
	-fx-background-image: url("user.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10px;
}

#login__password-text-field {
	-fx-background-image: url("lock.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10px;
}


#login-button {
	-fx-pref-width: 220px;
	-fx-pref-height: 30px;
	-fx-translate-y: 10px;
}


#login__create-account-button {
	-fx-text-fill: #05668d;
	-fx-border-color: transparent;
	-fx-underline: true;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
}