.profile Label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.profile {
	-fx-spacing: 0px;
}

.profile VBox {
	-fx-padding: 0px;
}

.profile TextField: disabled {
	-fx-border-color: white;
	-fx-background-color: white;
	-fx-font-size: 14px;
	-fx-opacity: 1.0;
}

.profile TextField {
	-fx-font-size: 13px;
}

.profile GridPane {
	-fx-pref-height: 70px;
	-fx-pref-h-gap: 5px;
}

#profile__edit-button {
	-fx-font-size: 13px;
}

.profile .invalid-message {
	-fx-font-weight: normal;
	-fx-font-size: 12px;
}

.profile HBox {
	-fx-spacing: 20px;
}

#feedback {
	-fx-text-fill: green;
	-fx-translate-y: 3px;
	-fx-translate-x: 3px;
}